<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top">
  <div class="container">
    <app-logo></app-logo>
    <!-- Navbar toggle button in small screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>
    <!-- closing offcanvas -->
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <!-- Offcanvas body -->
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item" *ngFor="let item of menuItems">
            <button>
            <a
              class="nav-link"
              [routerLink]="item.path"
              >{{ item.name }}</a
            >
          </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
